node_modules
dist
coverage
.nyc_output
test-results
coverage-ui
playwright-report
blob-report
build
_site

synapse/modules/.mypy_cache
.mypy_cache
synapse/config
test_output.log
app-service/test-results
app-service/data
test-results
data
playwright-report
blob-report
app-service/src/test/ui/fixtures/malformed.json
app-service/src/test/ui/fixtures/invalid.txt
app-service/src/test/ui/fixtures/bad-file.txt
app-service/src/test/ui/fixtures/too-large.png
